@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility: hidden;
}

.ng-anchor {
  position: absolute;
}

body {
  padding-top: 0px !important;
  background-image: url(../images/bg_reg1.jpg) !important;
  border-radius: 0px;
}

.quiz-icon-survey.quiz-non-icon {
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (min-width: 1400px) {
  body {
    background-size: cover;
  }
}

.quiz-icon-survey {
  width: 244px;
  height: 244px;
}

.main-question {
  color: #08c;
}

@media only screen and (max-width: 667px) {
  .navbar-default {
    display: none;
  }
  .footer-distributed {
    display: none;
  }
  .quiz-icon-survey {
    width: 160px;
    height: 160px;
  }
  .survey-question {
    padding: 5px !important;
    padding-bottom: 20px;
  }
  .progress-wrap {
    margin-top: 1px;
  }
  .survey-description {
    line-height: 130%;
  }
  .main-question {
    font-size: 1.5em;
  }
}

body {
  padding-bottom: 40px;
}

.answer-list input[type="checkbox"] {
  position: inherit;
  visibility: visible;
}

.main-question {
  color: orange;
  font-weight: 700;
}
