<html ng-app="gplans" class="ng-scope">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <!-- <meta content="width=device-width, initial-scale=1" name="viewport"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta content="" name="author">
  <title ng-bind="pageTitle + ' | G-Plan'" class="ng-binding">Survey | G-Plan</title>

  <!-- FAVICONS -->

  <meta name="application-name" content="&nbsp;">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <!-- END FAVICONS -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>

<body ng-class="{'login-bg': loginPage}" cz-shortcut-listen="true">
  <div>
    <div class="ui-view ng-scope">

      <div class="fluid-container ng-scope">
        <nav class="navbar navbar-default" style="background-color:rgba(255,255,255,0.7)">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand survey-brand" href="#">Goglia Nutrition</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <div>
                <button ng-show="vm.user &amp;&amp; !quizChanged &amp;&amp; offerId != 'straightSale'" class="btn btn-danger results-btn right ng-hide" style="text-align: center;margin-top: 10px;" ng-click="vm.seeResults()">SEE MY RESULTS</button>
                <button ng-show="vm.user &amp;&amp; quizChanged &amp;&amp; offerId != 'straightSale'" class="btn btn-danger results-btn right ng-hide" style="text-align: center;margin-top: 10px;" ng-click="vm.finishSurvey()">RECALCULATE QUIZ</button>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
      </div>


      <div style="padding-bottom: 40px;" class="container ng-scope">

        <span us-spinner="{radius:20, width:2, length: 16, top: '100px'}" spinner-on="!vm.question" class="ng-scope"></span>

        <div class="row" ng-show="vm.question">

          <div class="col-sm-6 col-sm-offset-3 survey-question">
            <div class="progress-wrap">
              <div class="center quiz-sub ng-binding">Question 1/14</div>
              <div id="progressKeeper">
                <div id="progress" ng-style="vm.progressStyle" style="width: 7.14286%;"></div>
              </div>
            </div>

            <h1 class="center m-b-0 main-question" gplans-compile="vm.question.question">How you sleep at night tells me a lot about  your efficiency levels. Is your sleep restful?</h1>
            <h3 class="survey-description center ng-binding"></h3>

            <img ng-src="https://gplans-static.storage.googleapis.com/media/survey/images/2018/06/16/q1.png" class="center-margin p-a quiz-icon-survey quiz-non-icon" src="https://gplans-static.storage.googleapis.com/media/survey/images/2018/06/16/q1.png">

            <form name="vm.questionForm" class="ng-pristine ng-valid">
              <ul class="answer-list">
                <!-- ngRepeat: choice in vm.question.choices -->
                <li ng-repeat="choice in vm.question.choices" ng-class="{active: vm.answer.answer_choice==choice.id || (choice.checked &amp;&amp; choice.id != 41)}" class="ng-scope">
                  <label class="ng-binding">
                    <input ng-if="!(vm.questionNumber == '14' &amp;&amp; choice.id != 41)" type="radio" ng-click="vm.submitAnswer(choice)" name="answer_choice" ng-value="choice.id" ng-model="vm.answer.answer_choice" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" value="1"><!-- end ngIf: !(vm.questionNumber == '14' && choice.id != 41) -->
                    Pretty good. I wake up feeling refreshed.
                  </label>
                </li>
                <!-- end ngRepeat: choice in vm.question.choices -->
                <li ng-repeat="choice in vm.question.choices" ng-class="{active: vm.answer.answer_choice==choice.id || (choice.checked &amp;&amp; choice.id != 41)}" class="ng-scope">
                  <label class="ng-binding">
                    <input ng-if="!(vm.questionNumber == '14' &amp;&amp; choice.id != 41)" type="radio" ng-click="vm.submitAnswer(choice)" name="answer_choice" ng-value="choice.id" ng-model="vm.answer.answer_choice" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" value="2"><!-- end ngIf: !(vm.questionNumber == '14' && choice.id != 41) -->
                     Restless. I usually wake up one or more times during the night and regularly have trouble falling asleep or staying asleep.
                  </label>
                </li>
                <!-- end ngRepeat: choice in vm.question.choices -->
                <li ng-repeat="choice in vm.question.choices" ng-class="{active: vm.answer.answer_choice==choice.id || (choice.checked &amp;&amp; choice.id != 41)}" class="ng-scope">
                  <label class="ng-binding">
                    <input ng-if="!(vm.questionNumber == '14' &amp;&amp; choice.id != 41)" type="radio" ng-click="vm.submitAnswer(choice)" name="answer_choice" ng-value="choice.id" ng-model="vm.answer.answer_choice" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" value="3"><!-- end ngIf: !(vm.questionNumber == '14' && choice.id != 41) -->
                    I toss and turn and/or can’t shut my mind off (difficulty falling asleep)
                  </label>
                </li>
                <!-- end ngRepeat: choice in vm.question.choices -->
              </ul>
            </form>

            <div class="row">
              <div class="col-xs-6">
                <a ng-hide="vm.questionNumber==1" style="text-decoration: underline" ng-click="vm.prevQuestion()" class="ng-hide">Previous</a>
              </div>
              <div class="col-xs-6">
                <!-- todo:refactor hardcode -->
                <a ng-disabled="!vm.answer.answer_choice" ng-hide="!vm.user || vm.questionNumber>=vm.quizLen" style="text-decoration: underline" class="right ng-hide" ng-click="vm.nextQuestion()" disabled="disabled">Next</a>
                <!-- ngIf: vm.questionNumber == 14 -->
                <!--<button ng-disabled="!vm.answer.answer_choice" ng-show="vm.questionNumber>=vm.quizLen" class="btn btn-block btn-lg btn-danger m-t right" ng-click="vm.submitAnswer(vm.finishSurvey)"><span ng-show="vm.submitting">Saving</span><span ng-hide="vm.submitting">Finish</span></button>-->
                <!--<a ng-show="vm.user" style="text-decoration: underline" ng-click="vm.finishSurvey()">Reassess Quiz</a>-->
              </div>
            </div>
          </div>

        </div>
      </div>
      <br clear="both" class="ng-scope">
    </div>

    <div class="clearfix ng-scope" style="margin-bottom: 20px;"></div>

  </div>
</body>

</html>
