.paused-top{
    background-color: red;
    padding: 5px;
    font-size: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
color: white;
font-weight: bold;
}
.alert-warning{
    background-color: #eb620f;
    border-color: #eb620f;
    border-radius: 0px;
    background-image: url(../images/2-week1.png);
    text-align: center;
    background-position: center center;
    background-size: cover;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px #b94f0e;
    margin-bottom: 0px;
    border-bottom: 0px;
    box-shadow: 1px 1px 5px #b5b5b5;
}
.alert-dismissible .close1{
    opacity: 1px !important;
    color: white;
}
.width-100{
    width: 100%;
}
body {
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.water-goal-txt{
    font-size: 25px;
    font-weight: 100;
}
.cal-r{
    margin-right: 5px;
}
.water-oz{
    font-size: 15px;
}
.track-txt{
    font-size: 20px;
    font-weight: 100;
}
.goal-txt{
    line-height: 25%;
    padding-bottom: 14px;
}
.ad-card .card-image{
    overflow: hidden;
}
.footer-distributed{
    display: none !important;
}
.w-25{
    width: 25%;
}
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.water-ticker button{
	width: 100%;
    font-size: 30px;
    color: #1CA8DD;
}
.exercise-ticker button{
    width: 100%;
    font-size: 30px;
    color: #eb620f;
}
.fit-cards img{
    width: 100%
}
.exercise-description{
    border-top: 1px solid #E6E6E6;
}
.downbtn{
	display: table;
        padding-top: 12px;
}
.footcenter{
    color: white;
    margin-left: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
}
input.ticker-input{
		font-size: 35px;
		font-weight: bold;
		border: none;
		height: 70px;
}
.h3{
	font-size: 20px;
	font-weight: bold;
}
.center{
	text-align: center;
}
.center-margin{
    margin: 0 auto;
    display: block;
}
.spinner{
	text-align: center;
}
.ticker_subblock_wrap{
	background: lightgrey;
	border: 1px solid #dcdcdc;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	    padding: 8px 0px;
}
.cell-dark{
    background-color: #dcdcdc
}
.cell-light{
    background-color: #f1f1f1
}
.water-ticker button:active{
    border: none;
    box-shadow: none;
}
.water-mes{
    padding-top: 5px;
        font-size: 26px;
    color: #1CA8DD;
}
.widget-small{
    padding-bottom: 10px;
}
ul.ticker_subblock{
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
    padding: 2px;
}
.collection .collection-item.missed {
  background: #fff3f3;
}
.ticker_subblock .top{
	font-size: 12px;
}
.ticker_subblock .mid{
	font-size: 24px;
	font-weight: bold
}
.ticker_subblock .bottom{
	font-size: 8px;
}
.total_amount{
	font-size: 28px;
	padding-bottom: 10px;
}
.top_ticker_text{
	padding-top: 20px
}
.center{
	text-align: center;
}
.shadow-z-1 {
 /* -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);*/
}
.meal-card{
	text-align: center;
	border: 1px solid #ddd;
  /*min-height: 135px;*/
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
	    padding: 7px 1rem;
	    vertical-align: middle;
}
tr.meal_row td{
	border-top: 0px !important;
}
table.meal-card th{
    background-color: #F8F8F8;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.meal-card .type{
	/*font-weight: 100;*/
	color: #8A8A8A;

	vertical-align: middle;
    text-align: left;
    padding-left: 5px;
}

.meal-card .food{
	color: grey;
}
.collection.with-header .collection-header{
    padding-bottom: 5px;
}
.complete_btn{
        background-color: #afafaf;
    color: white;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    border:none !important;
    padding: 15px 0px !important;
    text-align:center;
    font-size: 14px;

}
.meal_row{
	padding: 10px 0px;
}
th{
	vertical-align: middle !important;
}
.meal-card-title-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    padding-top: 15px;
}
.meal-card-title{
    color: #fff;
	font-size: 20px;
	font-weight: 100;
    line-height: 1em;
    margin-left: 10px;
    margin-bottom: 10px;
    border:none;
    float: left;
}
.meal-card-recipes {
    position: absolute;
    right: 0;
    padding: 10px;
    color: #42CBFF;
}
.sec-top-bar{
	margin-top: 20px;
	margin-bottom: 20px;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 7px 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.list-group-header {
    display: block;
    padding: 16px 11px;
    font-size: 14px;
    font-weight: bold;
}
.modal-footer {
	/*border:none;*/
}
.bottom-sheet .modal-content{
	border: none;
	    box-shadow: none
}
.bottom-sheet{
	background-color: white;
}
.track_btn{
 /*background-color: #00354b;*/
    color: white;
    padding: 6px;
    text-align: center;
    background-color: #F5F5F5;
}
.meal_num{
    border-radius: 33px;
    background-color: #eb620f;
    color: white;
    text-align: center;
    padding: 0px;
    height: 65px;
    width: 65px;
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.meal_num_diget{
	text-align: center;
	font-size: 25px;
	color: white;
	    display: block;
        line-height: 95%;
    font-weight: 400;
}
.btn-pill {
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-radius: 5px;

}
.custom-control-indicator {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #F5F5F5;
    background-clip: padding-box;
    background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.track_check{
	    font-size: 19px;
    /* vertical-align: middle; */
    padding-left: 20px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px 20px;
}
.card .card-reveal {
    padding: 20px;
    position: absolute;
    background: rgb(0, 53, 75); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(0, 53, 75, .9);
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 999;
    top: 600px;
    color: white;
    transition-property: top, bottom;
    transition-duration: 0.5s;
    display: block;
}

.card .card-reveal.showing {
    top: 0;
}

.btn-top-dash{
	    color: white;
    background-color: #EB620F;
    height: 40px;
    vertical-align: middle;
    border-left: 2px solid white;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 9px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
}
.btn-top-dash-left{
	    color: white;
    background-color: #afafaf;
    height: 40px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 9px;
}
.btn-top-dash span{
	    font-size: 25px;
    margin-top: -6px;
}
.widget{
	box-shadow: none;
    border: 1px solid #E6E6E6;
}
.widget-header{
	padding: 13px;
	background-color: #f5f5f5;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
	font-size: 15px;
    width: 100%;
      border-radius: 0px !important;
}
.water-top{
    border-bottom: 2px solid #1ca8dd;
    color: #1ca8dd;
    border-radius: 4px 4px 0px 0px;
}
.exercise-top{
    border-bottom: 2px solid #eb620f;
    color: #eb620f;
    border-radius: 4px 4px 0px 0px;
}


.widget-subhead{
	background-color:#00354b;
	    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 100;
}
button.overlay-closer {
  border: 0 none;
  background: transparent;
  font-size: 4rem;
  display: block;
  position: absolute;
  top: 0px;
  right: 20px;
}
.widget-body{

}
.widget-title-reveal{
    font-size: 22px;
}
.widget-close {
    border: 1px solid;
    padding: 2px 7px !important;
    display: block;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}
.card .card-reveal .card-title .widget-close{
    font-size: 30px;
    color: white;
    padding: 0px;
}
.widget-header span{
    font-size: 20px;
    margin-top: -4px;

}

.orange-txt{
    color: #eb620f;
}

/*.border-right{
border-top: 1px solid #dddddd;
}*/
.body-stat{
    font-size: 30px;
}
.align-left{
    text-align: left;
}
.stat-table-top{
    border-top: none  !important;
}
.milestone-icon{
    width: 60px;
    height: 60px;
            padding: 5px;
}
.full-width{
    width: 100%;
}
.milestone-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 85%;
    color: #aeaeae;
    text-transform: uppercase;
}
.milestone-sub{
    font-size: 11px;
}
.profile-top{
    /*background-image: url(../images/profile-bg.jpg);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
        background-position-y: -10px;
}
.profile-table-1{
    font-size: 20px;
    color: #eb620f;
}
.profile-pic{
/*    border: solid #ccc 3px;
    box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
    -moz-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
    text-shadow: 0 1px 2px #fff;
*/
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.account_btn{
position: absolute;
z-index: 9;
right: 15px;
}
.body-widget-num{
    font-size: 16px;
}
.widget-body{
    background-image: url(../images/cell-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}
.widget-water{
    background-image: url(../images/water_bg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;

}
.meal-graph{
        background: url(../images/g-blue-logo.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center 20%;
}

.widget-exercise{
    background-image: url(../images/exercise_bg1.jpg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}
.widget-nums{
	background-color: #00354B;
    padding: 10px;
    color: white;
}
.nums-white{
	background-color: white;
	color: white;
}
.big_num{
	font-size: 43px;
	text-align: center;

}
.widget-title{
    font-size: 18px;
    margin: 23px 0px 0px 0px;
    font-weight: bold;
    text-align: center;
}
.num1{
	background-color: #ebebeb;
    border-radius: 33px;
    padding: 7px;
    font-weight: bold;
        color: #1997C6;
}
.ticker-btn{
	background-color: transparent;
	border: none;
	    text-align: center;
}
.form-control{
	background-color: transparent;
}
.ticker-input{
	text-align: center;
	font-size: 32px;
	box-shadow: none;
}
.widget-btn{
	    margin: 0 auto;
	    display: block;
	    background-color: white;
	    font-weight: 100;

}
.widget{
}
.card{
	    margin: 0px;
}
.nums-white{
	color: #005679;
}
/*.water-top{
    background-image: url(../images/water-icon.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 10px;
    background-size: 10%;
}*/
/*.exercise-top{
    background-image: url(../images/exercise-icon.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 10px;
    background-size: 10%;
}*/
.meal-name{
}
.meal-total-calories{
    font-size: 14px;
    font-weight: 100;
    color: #42CBFF;
}
.meal-item-calories{
    font-size: 10px;
    color: #039be5;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}
.exercse-sub{
	background-color: #AD4100;
}
.exercise-num{
	background-color: #AD4100;
}
.border-top{
	    border-top: 1px solid #E6E6E6;
}
.graph-center-txt{

}
.graph_wrap{
    position: relative;

}
.water_graph{
      background: url(../images/glass-of-water-with-drop.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center 20%;
}
.graph-center-txt{
    position: absolute;
top: 37%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    display: block;
    color: #1ca8dd
}
.meal-txt-1{
    color: #00354b
}
.graph_sub_text{
	font-size: 14px;
	text-align: center;
}
.tab-left{
        border-radius: 4px 0px 0px 0px;
    border-right: none;
}
.tab-right{
        border-radius: 0px 4px 0px 0px;
}
.tabs .tab a {
    color: #1997C6;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #1CA8DD
}
.tabs .tab a:hover {
    color: #00516f;
}
.circle-block-dark{
    display: block;
    height: 20px;
    width: 20px;
    background-color: #00354B;
    border-radius: 20px;
    float: left;
    font-weight: 100;
}

.circle-block-light{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    float: left;
    background-color: #1ca8dd;
    font-weight: 100;
}
.circle-block-gray{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    float: left;
    background-color: #dcdcdc;
    font-weight: 100;
}
.full-graph{
width: 100%;
border-radius: 0px;
}
.card .card-action a {
    color: #EB620F
}

/*.card-action .btn {
    text-transform: uppercase;
    float: right;
}*/

.card-reveal{
    text-align: center;
}

.card .card-reveal .card-title{
    font-size: 15px;
    color: grey;
    padding: 10px 41px;
    margin: 0 auto;
}
.complete-txt{
    font-size: 20px;
    color: #a4e6ff;
}
.card .card-reveal .big-reveal-title{
    font-size: 24px;
    color: white;
    font-weight: 100;
    padding-bottom: 0px;
    line-height: 100%;
    position: static !important;
}
.reveal-subhead{
    color: #a4e6ff;
    font-size: 14px;
    margin-top: 15px;
}
.complete-overlay{
    z-index: 999;
    background-color: #1ca8dd;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    /*min-height: 350px;*/
}
.complete-overlay-skipped {
    background-color: #dcdcdc !important;
}
.ticker-subtxt{
    text-align: center;
    margin-top: -140px;
    font-size: 12px;
}
.ticker-subtxt {
    text-align: center;
    /* margin-top: -124px; */
    font-size: 11px;
    z-index: 1;
    position: absolute;
    top: 244px;
    /* left: 9px; */
    width: 100%;
}
.tour-tip {
    z-index: 1001 !important;
}
.input-group .form-control {
        z-index: 1;
}
.sub-mes-txt{
    font-size: 10px;
}
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #00354B;
}
p.grey-text.text-lighten-4.footer-p{
    font-size: 12px;
    line-height: 140%;
color: #1CA8DD !important;
}
.title-card-row{
        border-bottom: 1px solid #DDDDDD;
}
/******BUTTON****/
.btn-danger {
  color: #ffffff;
  background-color: #eb620f;
   border-color: #AD4100;
  font-weight: 100;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #cf5b14;
  border-color: #82121e;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #cf5b14;
  border-color: #cf5b14;
}
.btn.header-btns{
	border-radius: 0px;
	line-height: 200%;
}
.btn.header-btns span.icon{
        font-size: 22px;
}
.ticker-btn:hover{
	background-color: transparent;
	border: none;
}
.ticker-btn:focus{
	background-color: transparent;
	border: none;
}
.btn .ticker-btn:active{
	border: none !important;
	box-shadow: none !important;
}
.border-right{
	    border-right: 1px solid #E6E6E6;
}
/*****SURVEY******/
.survey-description{
    font-size: 17px;
    margin-top: 5px;
}
.navbar-default .navbar-nav li .join {
    color: white;
}
.main-question{
    color: orange;
    font-weight: bold
}
.txt-white{
    color: white !important;
}
.bold{
    font-weight: bold;
}
/*******END SURVEY****/
/*******FOOOTER*******/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
   /* margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 10px 50px;
    color: white;
}


/* If you don't want the footer to be responsive, remove these media queries */





/****RECIPES***/

.subhead-flat{
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    background-color: #eb620f;
    text-transform: uppercase;
    font-size: 16px;
    /* letter-spacing: 1px; */

    color: white;
    letter-spacing: .5px;
}
.ingredients{
  /* list-style-type: inherit;*/
      padding-left: 14px;
}
.ingredients li{
      list-style-type: inherit;

      line-height: 200%;

}

.exchange_num{
      border-radius: 33px;
    background-color: white;
    color: #686868;
    text-align: center;
    padding: 0px;
    height: 50px;
    width: 50px;
    font-size: 19px;
    letter-spacing: 1px;
    padding-top: 10px;
    float: right;
    margin-right: 15px;
    margin-left: 15px;
        border: 1px solid #E2E2E2;
}

.exchange_name{
    font-size: 16px;
    padding-top: 4px;
    display: block;
    font-weight: 400;
    color: #5D5D5D;;
}
.exchange_sub{
    font-size: 13px;
    text-transform: uppercase;
    color: #B3B3B3;
    line-height: 105%;
    display: block;
    letter-spacing: 1px;
}
.exchange_list_li{
  height: 65px;
      padding: 0px 15px;
}
.side_exchange{

  padding-bottom: 10px;
}
.exchange_name .demo-icon{
  float: left;
color: #5D5D5D;
    margin: 10px;
    background: transparent;
}
.review-star{
  font-size: 14px;
  margin-bottom: 5px;
color: #F5C92B;
}
.review-txt{
  font-size: 12px;
  color: grey;
}
.recipe_title{
      margin-bottom: 0px;
}
.description-txt{
     font-size: 15px;
    line-height: 160%;
        padding: 5px 20px;
}
.my-table{
  border: 1px solid #dddddd;
  width: 30%;
  margin-top: -8px;
  font-size: 12px;
}
.top-table{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.bottom-table{
   font-size: 22px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
.top-blue{
      background-color: #1CA8DD;
}
.side-wrap{
  border:1px solid #d6d6d6; background-color: #F7F7F7;
}
.side-wrap2{
  border:1px solid #d6d6d6; background-color: white;
}
.mins{
  font-size: 14px;
}
.b-right{
  border-right: 1px solid #dddddd
}
.recipe-pic{
  width: 100%;
}
/***HOMETWEAKS****/
.title-sm{
    font-size: 45px !important;
}
.survey-sub{
    line-height: 200%;
}
.checks-container{
        font-size: 23px !important;
}
.disc-list li{
        list-style-type: disc !important;
    margin-left: 20px;
}
.fit-card{
    height: 220px;
}
.fit-title1{
    padding: 10px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
    border-left: 4px solid #49D4FF;
}
.fit-title2{
    padding: 10px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
border-left: 4px solid #F43D00;
}

/***checkup***/
.dashhead-title{
        color:#254d70 !important;
}
.current-dates_info{
    color:#254d70 !important;
}

/***checkup***/

/****RECIPES***/
@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }


}
/*******login******/
.login-bg{
background: url(../images/bg_reg.jpg) no-repeat;
background-size: cover;

}
.reg_top_bg{
    background: url(../images/reg_top_bg.jpg) repeat-x;
        background-position-y: -13px;
}
.mem-txt{
    font-size: 15px;
     font-weight: 400;
}
.width-70{
    width: 70%;
}
.underline{
    text-decoration: underline;
}

.login-h3{
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #E8E8E8;
    font-weight: 500;
}
.switch{
position: relative !important;
    margin-top: 9px;
}

.switch label .lever{
    margin: 0px;

}
.auto-login{
        /*font-size: 12px;*/
    font-weight: 100;
    color: white;
    margin-left: 9px;
}
.fb-btn{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#395390+0,17337a+100 */
background: #395390; /* Old browsers */
background: -moz-linear-gradient(top,  #395390 0%, #17337a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#395390), color-stop(100%,#17337a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #395390 0%,#17337a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #395390 0%,#17337a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #395390 0%,#17337a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #395390 0%,#17337a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#395390', endColorstr='#17337a',GradientType=0 ); /* IE6-9 */
border: 1px solid #1c2d59;
height: 40px;
text-shadow:1px 1px black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}
.outline-white{
border: 1px solid white;
color: white;
 transition: background-color 0.5s ease;
}
.outline-white:hover{
    background: white;
    color: #1c2d59
}.form-control:focus {
  border-color: #1ca8dd;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(28, 168, 221, 0.6);
}
.form-control::-moz-placeholder {
  color: grey;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: grey;
}
.form-control::-webkit-input-placeholder {
  color: grey;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #2C3D67;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #96d1ff; }
  .txt-white{
    color: white;
  }
    .no-border-right{
        border-right: 0px;
    }
.sidebar-header {
    z-index: 999;
}
/***UTILITES****/
.progress-wrap{
    padding: 10px;
    background-color: #FBFBFB;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    padding-top: 5px;
    margin-top: 13px;
}
.table{
    margin-bottom: 5px !important
}
.track-img{
    height: 35%;
    display: inline !important;
    border-radius: unset !important;
    position: static !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    width: auto !important;
}
/*****SMALL TWEAKS*****/
.amount{
    line-height: 100% !important;
}
@media(max-width:767px){
    .sidebar-header {
      padding-bottom: 10px;
    }
    .sidebar-brand {
      max-height: 37px;
    }
    .dashhead {
      padding: 10px;
    }
    .container-fluid{
        padding: 0px !important;
            overflow: hidden;
    }
    .row{
            margin-left: -5px !important;
    margin-right: -5px !important;
    }
    .content{
        padding: 3px !important;
    }
    .demo-icon{
            display: block;
    margin: 0 auto;
    }

    .m-t-xs{
    margin-top: 20px !important;
    }
    .row.no-gutters-xs {
    margin-right: 0;
    margin-left: 0;
    }
    .row.no-gutters-xs {
       margin-right: 0;
       margin-left: 0;
    }
    .row.no-gutters-xs > [class^="col-"],
    .row.no-gutters-xs> [class*=" col-"] {
       padding-right: 0;
       padding-left: 0;
    }
    .btn.header-btns{
        font-size: 12px;
    }
    .meal-card .type{
        font-size: 12px;
    }
    .meal-card-title{
        padding: 0px;
    }
    .complete_btn{
        font-size: 11px;
    }
    .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 9px 26px;
    }
    .btn-pill {
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-radius: 5px;
    }
    .track_btn {
    background-color: #F5F5F5;
    }
    .sidebar-form {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .check-form-wrap select {
    width: 137px;
  }
}

/* snackbar */
.snackbar {
  background-color: #323232;
  color: rgba(255, 255, 255, 0.84);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  height: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.snackbar.snackbar-opened {
  padding: 14px 15px;
  margin-bottom: 20px;
  height: auto;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, height 0 linear 0.2s;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, height 0 linear 0.2s;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.snackbar.toast {
  border-radius: 200px;
}
/* END snackbar */

/* Settings page*/
.subhead2{
    font-size: 18px;
    font-weight: 100;
    /*margin-bottom: 25px;*/
}
.bold2{
    font-size: 15px;
    font-weight: bold;

}
/*end Settings Page*/
.dashhead-title{
    margin-bottom: 0px;
}
.dashhead{
    background-color: white;
    padding: 30px;
}
.current-dates{
    font-size: 14px;
    font-weight: 400;
    color: #1CA8DD;
    display: block;
    margin-top: 3px;
}
.current-dates_info{
    color: #555;
}
.login-bg-form{
    background-color: white;
    border-radius: 5px;
}
.answer-list label {
    border: 1px solid #CACACA;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: normal !important;
}
.answer-list li.active label {
  background: #F0F8FF;
}
.answer-list input{
    margin-right: 10px;
}
.quiz-sub{
     font-size: 18px;
    color: #b2b2b2;

}
#progressKeeper {
    width: 100%;
    margin: 0;
     /*box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
     -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
     -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
     -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1; */
     border-radius: 2px;
     border:1px solid #B5B5B5;
         background-color: white;

}
 #progress {
    width: 0;
     height: 14px;
  color: #4c4c4c;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

 }
 .met-txt{
    color: #EB620F;
    font-weight: bold;
 }
 .met-title{
        font-size: 23px;
    text-align: center;
        margin-top: 5px;
 }
 .met-type-description{
    background-color: white;
    margin: 1px;
    padding: 5px;
        margin-top: 16px;
 }
 .full-width{
  /*width: 75%;*/
    margin: 0 auto;
    /*display: block;*/
 }
 .three-quarter-width {
    width: 75%;
    margin: 0 auto;
    display: block;
 }
 .met-img-wrap{
border-right: 1px solid #E8E8E8;
    padding: 15px;
 }
  .met-question{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    padding-top: 15px;
}
.middle{
        margin: 0 auto;
    display: block;
}
.congrats-quiz{
    text-transform: uppercase;
    color: #004179;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
        font-weight: 400;
}
.met-comp-txt{
    font-size: 16px;
}
/******TEST******/


.pricing-tables {
  padding: 20px; }
  .pricing-tables h1 {
    font-size: 48px; }
  .pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
  .pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .pricing-tables .plan.recommended .head {
      margin-bottom: 20px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .pricing-tables.attached .col-sm-4,
  .pricing-tables.attached .col-md-4,
  .pricing-tables.attached .col-sm-3,
  .pricing-tables.attached .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
  .pricing-tables.attached .plan {
    border-radius: 0; }
    .pricing-tables.attached .plan .head {
      border-radius: 0; }
    .pricing-tables.attached .plan.recommended {
      border-radius: 4px; }
      .pricing-tables.attached .plan.recommended .head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.last {
      border-bottom-right-radius: 4px; }
      .pricing-tables.attached .plan.last .head {
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.first {
      border-bottom-left-radius: 4px; }
      .pricing-tables.attached .plan.first .head {
        border-top-left-radius: 4px; }

.plan {
    box-shadow: 0 2px 24px rgba(15, 10, 10, 0.09);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center; }
  .plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    background: #105C80;
    text-shadow: 2px 2px 7px rgba(37, 37, 37, 0.71);
    color: #fff; }
    .plan .head h1, .plan .head h2, .plan .head h3 {
      padding: 0;
      margin: 0;
      font-weight: 100; }
  .plan .price {
    border-bottom: 1px solid #eee;
    margin: 0 auto 0px auto;
    width: 80%;
    line-height: 100%;
    padding-bottom: 10px;
    padding-top: 8px;

}
.price-sub1{
    font-size: 20px;
}
.price-sub1 span{
        color: #FC6801 !important;
}

    .plan .price h3 {
      font-size: 60px;
      vertical-align: top;
      line-height: 1; }
      .plan .price h3 span {
        font-size: 38px;
        vertical-align: top;
        position: relative;
        margin: 6px 0 0 -7px;
        display: inline-block; }
    .plan .price h4 {
      color: #aaa;
      font-size: 14px; }
  .plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500; }
  .plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px; }
    .plan ul li {
   line-height: 22px;
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 400;
}
      .plan ul li a {
        text-decoration: underline;
        color: #e6e9ed; }
      .plan ul li:last-child {
        border-bottom: none; }
    .plan ul strong {
      font-weight: 400; }
  .plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px; }
    .plan.recommended .head {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #1A8ABF; }
    .plan.recommended .btn {
      margin-bottom: 10px; }

.last {
    background: rgba(255, 255, 255, 0.4);
        padding-bottom: 0px !important;
}
.side-txt{
       font-size: 20px;
    line-height: 111%;
    color: #1A8ABF;
        margin-bottom: -4px !important;
}
.fq-container{
    border-radius: 4px;
}
.border-top{
        border-top: 1px solid #A4ADB1;
}

/****TEST*****/



/*****PRICE TABLE****/
.pop-out{
    -webkit-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
}
.bg-white{
    background-color: white;
}
.price{
        color: #FC6801;
    font-size: 25px;
    font-weight: 400;
}
.price-pic{
    margin-top: -50px;
}
.price-btn{
    width: 70%;
    margin-top: 10px;
}
/*****PRICE TABLE****/

 /******survey*******/
 .survey-question{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    padding-top: 10px;
}
.survey-brand{
    background: url(../images/brochure/g-nutrition1.png);
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 170px;
    background-size: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}
.survey-right-nav{
        margin-top: 3px;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active{
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}
/*******CHECKOUT FORM********/
.checkout-title{
    color: #FC6801;
    font-weight: 400;
}

.check-form-wrap{
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #EFEFEF;
}
.input-md{
    width: 300px;
}
.input-sm{
      width: 200px;
      height: 35px;
}
.input-xs{
      width: 100px;
      height: 35px;
}
.input-lg{
    width: 500px;
}
.help-block {
  color: red;
  margin-bottom: 0;
  margin-top: 0;
}
/************surevy*********/
.check-form-wrap select {
    display: inline-block;
    border-radius: 3px;
}
/*.credit-cards {
    overflow: hidden;
    left: 305px;
    position: absolute;
    top: 5px;
}*/
.credit-cards {
  white-space: nowrap;
}

@media screen and (max-width: 374px) {
  .credit-cards {
    display: none!important;
  }
}
.credit-cards>*{
    height: 32px;
    width: 32px;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    clear: none;
    display: inline-block;
    margin-right: 5px;
}
.credit-cards .discover {
    background: url(../images/brochure/sprite1.png) 0 -889px;
}
.credit-cards .amex {
    background: url(../images/brochure/sprite1.png) 0 -356px;
}
.credit-cards .visa {
    background: url(../images/brochure/sprite1.png) 0 -520px
}
.credit-cards .mc{
    background: url(../images/brochure/sprite1.png) 0 -438px
}

.subhead2{
    color: #5e5e5e;
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}


.secure, textarea.secure {
    background: url(../images/brochure/sprite1.png) 258px -594px no-repeat;
}
.right-col-checkout ul li {
    background: url(../images/brochure/sprite1.png) 0 -665px no-repeat;
    font-size: 16px;
    line-height: 1.5;
    color: #80818b;
    margin-bottom: 5px;
    padding: 0 0 0 30px;
}
#credit_card_cvv{
    background: url(../images/brochure/sprite1.png) 75px -594px no-repeat;
}
.reg-price span{
    color: #9E5151;
    text-decoration: line-through;
}
.discount-price{
        font-weight: 400;
        font-size: 16px;
}
.discount-price span{
    color: #1e8e2e;
    font-weight: bold;
}
.controls {
    position: relative;
}
.credit-cards {
    overflow: hidden;
    left: 305px;
    position: absolute;
    top: 5px;
}
#credit_card_number {
    width: 285px;
}
.checkout-sub{
    font-size: 18px;
}
.badges{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 30px;
}
  .input-xs {
    width: 100px !important;
    height: 35px;
}
.seal1{
    width: inherit !important;
}
.nav-check{
    background: transparent !important;
      border-bottom: 0px;
}
.sub-sub{
        color: #FC6801;
        text-transform: uppercase;
        text-align: center;

}
.head-pro{
    padding:19px !important;
    position: relative;
}
.most-pop{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 83px;
}
.head h2 span{
    font-size: 12px;
    line-height: 137%;
    display: block;
    text-transform: uppercase;
    color: #D8D8D8;
    letter-spacing: 1px;
}
.plan .our-promise{
        background-color: rgba(255, 255, 255, 0.4);
    color: #828282;
    text-shadow: 0px 0px;
    border-bottom: 1px solid #F3F3F3;
}
.feat2{
     border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
        margin-top: 21px;
}
.cross-out{
        color: #8A8A8A;
}
.list-bottom{
     border-top: 1px dotted #D8D7D7;
    padding-top: 13px;
}
/*****CARD STYLE***/
.card-action h3{font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
}
.card-action p{
        margin: 0 0 10.5px;
    font-size: 14px;
    color: #888888;
}
.big-about{
        font-size: 36px;
    line-height: 131%;
    font-weight: 100;
    color: #737373;
}
.about-p-wrap p{
        margin: 0 0 10.5px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;

}
.card-fact{
    padding: 15px;
}
.card-fact p{
        border-bottom: 1px solid #CACACA;
    padding-bottom: 20px;
}
.card-fact-last{
border-bottom: 0px;
padding-bottom: 10px;
}

.width-80{
        width: 80%;
    margin: 0 auto;
    display: block;
}
.big-about{
    background: url(../images/brochure/bttom-title.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
        padding-bottom: 25px;
}
/*.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);

    border-top: 3px solid #1CA8DD;
    margin-top: -1px;
}*/
/****CARD STYLE****/


/****NEW STYLE*****/

.login-txt{
        font-size: 26px;
}

.icon.icon-time-slot{
        margin-right: 7px;
}
.ad-card .card-content{
    height: 150px;
    overflow: hidden;
}
body{
        background-color: #FBFBFB;
        padding-top: 0px;
}
li.active a span{
    color: white !important;
}
.sidebar{
background-color: #3c4247;
 padding-top: 16px;
    box-shadow: inset -7px 0 21px -5px rgba(0,0,0,0.5);
}

.content{
    padding: 30px
}

.nav > li > a {
    color: #ECECEC;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: #ffffff;
       background-color: #525A61;

}
.nav > li > a:hover, .nav > li > a:focus{
    background-color:rgba(0, 0, 0, 0.1);
}
.fit-icon-run{
        background-color: transparent !important;
    /* margin-top: -81px; */
    display: inline-block;
    vertical-align: 7px;
    color: gainsboro !important;;
}
.nav > li > a span{
    color: #6E7275;
    font-size: 21px;
    margin-right: 19px;
}
.nav > .nav-header{
margin-left: 37px;
}
.sidebar-nav .nav > li > a{
padding: 0px 15px;
}
.nav > li + .nav-header{
    margin-top: 40px;
}
.this-is{
    margin-bottom: 5px;
    font-size: 16px;
}
.this-is span{
font-weight: 500;
color: #eb620f
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus span{
    color: white;
}
/****NEW STYLE*****/

.disclaimer1{
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.icon-logo{
    margin: 0 auto;
    max-width: 56px;
    margin-top: -4px;
    margin-bottom: 5px;
}

@media only screen and (max-width : 992px) {
  .check-form-wrap select {
    width: 137px;
  }
}
@media (max-width: 880px) {
          .check-form-wrap select {
    width: 117px;
}
.input-xs {
    width: 100px;
    height: 35px;
}
}
@media only screen and (max-width : 480px) {
   .survey-question{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    padding-top: 10px;
}
    .collection.with-header .collection-header {
    padding-bottom: 5px;
}
.collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 5px;
}
.meal-card .type{
    text-align: center;
}
.meal-nav-tabs .nav-tabs>li>a span{
font-size: 13px !important;
}
.col-md-8 .no-gutters{
    padding: 0 5px;
}
.m-p-0{
    padding-right: 5px;
    padding-left: 5px;
}
.dashhead-title{
    font-size: 28px;
}
.current-m{
    display: none;
}
.current-dates_info {
    color: #1ca8dd !important;
}
  .sidebar .nav-toggleable-sm.in, .sidebar .nav-toggleable-md.in{
    padding-bottom: 0px;
  }
  .sidebar{
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(56,61,66) 0%, rgb(45,53,56) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(56,61,66) 0%, rgb(45,53,56) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(56,61,66) 0%, rgb(45,53,56) 100%);
    padding-top: 10px;
  }
  .sidebar-header{
    padding-bottom: 2px;
  }
  .mobile-hr{
    margin-top: 5px !important;
    margin-bottom: 5px;
    }
    .m-t-mobile{ margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    .table{
       margin-bottom: 0px !important;
    }
    .meal-total-calories{
      display: block;
    }
    .meal-name{
      margin-left: 0px !important
    }
    .disclaimer1{
      margin-top: 30px;
      width: 90%;
    }
    .track-img{
      width: 90px;
      margin-top: 0px;
   }
   .reveal-subhead{
      font-size: 12px;
      margin-top: 13px;
  }
  .input-xs {
    width: 100px;
    height: 35px;
  }
  .mobile-no-pad{
    padding: 0px;
  }
  .input-md {
    width: 100%;
  }
  .checkout-title {
    color: #FC6801;
    font-weight: 400;
    font-size: 33px;
    text-align: center;
  }
  .checkout-sub {
    font-size: 14px;
    text-align: center;
  }
  .check-form-wrap{
    padding: 16px;
  }
  .credit-cards>* {
    margin-right: 0px;
  }
  .credit-cards {
    overflow: hidden;
    left: 131px;
    position: absolute;
    top: -33px;
  }
  .most-pop{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 83px;
  }
  .demo-icon{
    display: block !important;
    margin: 0 auto !important;
  }
}

/* Holy Grail Sidebar */
@media (min-width: 768px) {
  .flexrf-table {
    display: table;
    height: 100%;
    padding: 0;
  }
  .flexrf-table-row {
    display: table-row;
    height: 100%;
    width: 100%;
  }
  .flexrf-table-cell-outter {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    max-width: 342px;
  }
  .flexrf-table-cell-inner {
    display: table-cell;
    height: 100%;
    padding-top: 0;
    width: 100%;
  }
  .flexrf-table-maincol {
    width: 100%;
  }
  .sidebar-brand {
    margin-top: 16px;
  }
  .sidebar-nav {
    margin-right: 0;
  }

}

.loading {
    position: fixed;
    z-index: 2000 !important;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.loading img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-100px 0 0 -100px;
}
.page-is-loading {
  visibility: hidden;
}
.graph-bg {
 /* background: url(../images/g-blue-logo.png;*/
  background-size: auto 53%;
  background-repeat: no-repeat;
  background-position: center;
}

.week-graph-bg {

  background-size: auto 44%;
  background-repeat: no-repeat;
  background-position: center;
}

div.input-group.spinner {
  width: 100%;
}

.popover.right > .arrow {
  left: -21px;
}
